.table1 {
	color:#000000;
	border:2px solid #2A9669;
	background-color:#86F7C8;
	text-align:center;
}
.table1 tr,.table1 td {
	border:2px solid #2A9669;
} 
.table2 {
	color:#000000;
	border:2px solid #C34A3F;
	background-color:#FBC7C2;
	text-align:center;
}
.table2 tr,.table2 td {
	border:2px solid #C34A3F;
} 
.table3 {
	color:#000000;
	border:2px solid #D2B61B;
	background-color:#FBF9C2;
	text-align:center;
}
.table3 tr,.table3 td {
	border:2px solid #D2B61B;
} 
.table4 {
	color:#000000;
	border:2px solid #6C2A96;
	background-color:#DDD0F2;
	text-align:center;
}
.table4 tr,.table4 td {
	border:2px solid #6C2A96;
} 
.mtitle1
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#ffffff;
	background-image: url(../images/ywzzt/cl.gif);
	background-repeat:no-repeat;
	background-position:right;
	padding-right:25px;
	text-align:right;
	
}

.mtable_bg1
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#B3F98E;
	background-image: url(../images/ywzzt/tb1_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
	text-align:center;
	
}

.mtable_bg2
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#FF888B;
	background-image: url(../images/ywzzt/tb2_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
	text-align:center;
	
}
.mtable_bg3
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#F8FF88;
	background-image: url(../images/ywzzt/tb3_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
	text-align:center;
	
}
.mtable_bg4
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#AD88FF;
	background-image: url(../images/ywzzt/tb4_bg.gif);
	background-repeat:repeat-y;
	background-position:left;
	text-align:center;
	
}
.mline1
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#ffffff;
	background-image: url(../images/ywzzt/line.gif);
	background-repeat:repeat-x;
	background-position: center;
	
}
.mline2
{
	font:nomal 9pt "宋体",arial;
	color: #000000;
	background-color:#ffffff;
	background-image: url(../images/ywzzt/line.gif);
	background-repeat:repeat-y;
	background-position: center;
	text-align:center;
	
}
